{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block content &}
<div class="auth-page">
    <div class="auth-card">
        <div class="auth-card-inner">
            <div class="auth-header">
            <div class="auth-logo"> </div>
            <div>
                <strong>Open Story</strong>
                <small>Library Website</small>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% for cat, msg in messages %}
          <div class="flash flash-{{ cat }}" style="margin-bottom:12px">{{ msg }}</div>
          {% endfor %}
        {% endwith %}

        <div class="auth-split">

            
        </div>
    </div>
</div>