{% extends "base.html" %}
{% block title %}Catalogue Management{% endblock %}
{% block content %}
<div class="page-header" style="display:flex;justify-content:space-between;align-items:flex-start">
  <div>
    <h1>Catalogue Management</h1>
    <p>Add, endit and manage Library resources</p>
  </div>
  <button class="btn btn-primary" onclick="document.getElementById('add-modal').style.display='flex'">
    + Add New Resource
  </button>  
</div>

<div class="stats-grid" style="margin-bottom:20px">
  <div class="stat-card">
    <span class="stat-icon">📚</span>
    <div class="stat-number">{{ stats.physical_books }}</div>
    <div class="stat-label">Physical Books</div>
  </div>
  <div class="stat-card">
    <span class="stat-icon">📱</span>
    <div class="stat-number">{{ stats.ebooks }}</div>
    <div class="stat-label">eBooks</div>
  </div>
  <div class="stat-card">
    <span class="stat-icon">🎧</span>
    <div class="stat-number">{{ stats.audiobooks }}</div>
    <div class="stat-label">Audiobooks</div>
  </div>
  <div class="stat-card">
    <span class="stat-icon">📰</span>
    <div class="stat-number">{{ stats.Journals}}</div>
    <div class="stat-label">Journals</div>
  </div>
</div>

